@page
@model IndexModel
@{
    <head>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />
        <link rel="stylesheet" href="~/data/styles.css" />
    </head>



    <img id="cloudA" src="~/data/Cloud.png" alt="CloudA">
    <img id="cloudB" src="~/data/Cloud.png" alt="CloudB">
    <img id="cloudC" src="~/data/Cloud.png" alt="CloudC">
    <img id="cloudD" src="~/data/Cloud.png" alt="CloudD">
    <img id="cloudE" src="~/data/Cloud.png" alt="CloudE">
    <img id="cloudF" src="~/data/Cloud.png" alt="CloudF">

    <div id="MainContainer">
        <section id="MainGrid">
            <img id="dotdle-png" src="~/data/Dotdle.net.png" alt="Title PNG">
            <img id="left-square" src="~/data/Square.png" alt="Left Square">
            <img id="right-square" src="~/data/Square.png" alt="Right Square">
            <img id="leftB-square" src="~/data/Square.png" alt="LeftB Square">
            <img id="rightB-square" src="~/data/Square.png" alt="RightB Square">

            <section id="Game">

                <div id="wordDescription">
                    <p>@Model.Description</p>
                </div>


                <hr id="hrSeparator" />

                <form method="post" id="inputForm">
                    <div>
                        <input type="text" asp-for="InputModel.UserInput" class="input-field" maxlength="5" placeholder="@Model.Placeholder" autocomplete="off" />
                    </div>


                    <input type="hidden" id="languageSwitch" asp-for="langSwitch" />
                    <div class="language-switcher">
                        <button type="button" class="lang-btn" onclick="setLanguage('us')"><span class="fi fi-us"></span></button>
                        <button type="button" class="lang-btn" onclick="setLanguage('es')"><span class="fi fi-ar"></span></button>
                    </div>


                    <input type="hidden" asp-for="Word" />
                    <input type="hidden" asp-for="Description" />
                    <input type="hidden" asp-for="Topic" />
                    <button type="submit" name="action" class="enter" value="submit">@Model.EnterButton</button>
                </form>


                <div id="wordSubmitted">
                    <section id="wordsRow">

                        @if (!string.IsNullOrEmpty(Model.Input) && (Model.Input.Length) == 5)
                        {
                            @for (int i = 0; i < Model.Input.Length; i++)
                            {
                                <span class="letter @Model.Results[i]">@Model.Input[i]</span>
                            }

                        }
                        else
                        {
                            <div id="inputExample">
                                <span class="letter">@Model.ExampleAnswer</span>
                            </div>
                        }

                    </section>

                    <div id="newGameSection">
                        <button type="button" id="newGameButton">@Model.NewGameButton</button>
                    </div>
                </div>

            </section>

            <div id="links">
                <a id="linksButton" class="link1" href="https://github.com/LovisottoSantiago/Dotdle" target="_blank">@Model.LinkGithub <i class="fa fa-github"></i></a>
                <a id="linksButton" class="link2"  href="https://github.com/LovisottoSantiago" target="_blank">@Model.LinkPortfolio <i class="fa fa-briefcase"></i></a>
                <a id="linksButton" class="link3" href="@Model.EditCards" target="_blank">@Model.LinkCards <i class="fa fa-pencil-square-o"></i></a>
            </div>

            <div id="topics">
                <p>@Model.Topic</p>
            </div>
        </section>

    </div>





}

@section Scripts {
    <script>
        document.getElementById('newGameButton').addEventListener('click', function() {
            document.querySelector('.input-field').value = '';

            const form = document.getElementById('inputForm');
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'action';
            input.value = 'newgame';
            form.appendChild(input);
            form.submit();
        });


        function setLanguage(lang) {
            const languageSwitch = document.getElementById('languageSwitch');

            if (lang === 'us') {
                languageSwitch.value = 'true'; // true = english

            } else if (lang === 'es') {
                languageSwitch.value = 'false'; // false = español
            }

            document.getElementById('newGameButton').click();
        }

    </script>
}
